@charset "utf-8";
/*************************************************************************
 * XDAQ Components for Distributed Data Acquisition                      *
 * Copyright (C) 2000-2014, CERN.                                        *
 * All rights reserved.                                                  *
 * Authors: A.Forrest, L.Orsini, A.Petrucci								 *
 * For the licensing terms see LICENSE.                                  *
 * For the list of contributors see CREDITS.                             *
 *************************************************************************/
 
html, body 
{
	margin:0;
	padding:0;
	font-family: 'Open Sans', sans-serif;
}

/* Whole Page wrapper (excluding sidebar) */
#xdaq-wrapper 
{
	margin-left: auto;
	margin-right: auto;
	padding:0px;
	float:left;
}

#xdaq-main 
{
	padding: 0px;
	background: none;
	z-index:0;
	padding-left:100px;
	padding-right:20px;
	transition: all 0.2s ease 0s;
	-webkit-transition: all 0.2s ease 0s;
	position:relative;
}
.xdaq-sidebar-hidden-main
{
	padding-left:20px !important;
}

/* opacity effect when sidebar is fully open */
.xdaq-main-acive-sidebar
{
	opacity: 0.4;
}

#xdaq-sidebar
{
	white-space:nowrap;
	overflow:hidden;
	width: 0px;
background:#F6F6F6;
	min-height: 200px;
	margin: 0px;
	padding: 0px;
	float: left;
	z-index:100;
	border-right: 1px solid #AAAAAA;
	transition: width 0.2s ease 0s;
	-webkit-transition: width 0.2s ease 0s;
	position: fixed;
}
.xdaq-sidebar-active
{
}
#xdaq-sidebar.xdaq-sidebar-nojs:hover
{
	width:275px !important;
	overflow:auto;
}
#xdaq-sidebar.xdaq-sidebar-on
{
	width:80px;
}

#xdaq-sidebar:hover
{
	width:275px;
	overflow:auto;
}
.xdaq-sidebar-divider, hr
{
	padding:0px;
	margin:0px;
	width:100%;
	border: 0px;
	border-bottom: 1px solid #999;
}

#xdaq-sidebar ul
{
    list-style: none outside none;
    margin: 0px;
    padding: 0px;
}

#xdaq-sidebar li
{
    padding: 0px 0px 20px 0px;
    vertical-align:middle;
	height:40px;
	line-height:40px;
	transition: all 180ms ease-in-out;
	position:relative;
}

#xdaq-sidebar li:hover
{
	background-color: rgb(230, 230, 230);
	background-color: #CCCCCC;
}


#xdaq-sidebar li img
{
    margin-right: 20px;
    margin-left: 20px;
    vertical-align:middle;
	height:40px;
	width:40px;
	border: 0px;
	
	transition: all 250ms ease-in-out;
	
	position: absolute;
	left: 0px;
	top: 10px;
}

#xdaq-sidebar li:hover img
{
	margin-right: 15px;
	margin-left: 15px;
    vertical-align:middle;
	height:50px;
	width:50px;
	
	margin-top: -5px;
}

#xdaq-sidebar a
{
    padding: 10px 0px 10px 0px;
	display: block;
	padding-left:80px;
	text-decoration: none;
}

.xdaq-sidebar-active-url
{
	background-color: #dfdfdf;
}

#xdaq-footer 
{
	width: 100%; 
	min-width: 520px;
	clear:both;
	background-color: #FFFFFF;
	height: 50px;
	text-align:center;
	line-height:50px;
	background:url(/hyperdaq/images/framework/xdaq-footer-border.png) top no-repeat;
	background-size:70% 1px;
	z-index: -1;
	margin-top: 0px;
}

#xdaq-header 
{
	width:100%;
	min-width: 520px;
background:#F6F6F6;
	border-bottom: 1px solid #AAAAAA;
	line-height:72px;
	height:72px;
	padding:0px;
	padding-bottom:1px;
	text-align:center;
}

/* the mini icons that are clickable menus */
.xdaq-header-icon-img
{
	width:20px;
	height:20px;
	padding-right:5px;
	padding-left:5px;
	position:relative;
	vertical-align:bottom;
}

/* the xdaq application in context's image wrapper */
#xdaq-header-application-img
{
	padding-bottom: 0px !important;
	padding-left: 12px !important;
}

#xdaq-header-application-img img
{
	width: 40px;
	height: 40px;
}

/* the dibv that displays the application name */
#xdaq-header-app-name
{
	display: inline;
	position: absolute;
	right: 5px;
	top: 12px;
	font-weight: 600;
}

.xdaq-header-application-img-off
{
	opacity: 0;
	transition: all 1000ms linear;
}

.xdaq-header-application-img-on
{
	opacity: 1;
	transition: all 200ms linear;
}

/* xdaq logo */
#xdaq-header-xdaq-img
{
	width:110px;
	height:59px;
	float:left;
	vertical-align:bottom;
	padding-top:12px;
	padding-left:12px;
	padding-right:8px;
}

/* clickable sidebar hiding img */
#xdaq-header-hide-sidebar
{
	width:16px;
	height:22px;
	float:left;
	vertical-align:bottom;
	margin-top:48px;
	opacity: 0.5;
	transition: all 0.1s ease 0s;
	-webkit-transition: all 0.1s ease 0s;
}

#xdaq-header-hide-sidebar:hover
{
	opacity: 1;
}

.xdaq-header-hide-sidebar-on
{
	background:url(/hyperdaq/images/framework/xdaq-menu-close.png) top no-repeat;
	background-size:100% 100%;
}
.xdaq-header-hide-sidebar-off
{
	background:url(/hyperdaq/images/framework/xdaq-menu-open.png) top no-repeat;
	background-size:100% 100%;
}

/* wrapper for all content on the right hand side of the header */
#xdaq-header-right-content
{ 
	float:right;
	position:relative;
	padding-right:20px;
	height:100%;
	display: table-cell;
    vertical-align: bottom;
    line-height: 100%;
}

#xdaq-header-right-content td:first-child
{
	padding-right:10px;
}

#xdaq-header-menu-control, #xdaq-header-menu-apps, #xdaq-header-menu-settings, #xdaq-header-menu-props
{
}

#xdaq-header-menu-control:hover, #xdaq-header-menu-apps:hover, #xdaq-header-menu-settings:hover, #xdaq-header-menu-props:hover
{
}

#xdaq-header-menu-control .xdaq-header-icon-img, 
#xdaq-header-menu-apps .xdaq-header-icon-img, 
#xdaq-header-menu-settings .xdaq-header-icon-img, 
#xdaq-header-menu-props .xdaq-header-icon-img, 
#xdaq-header-menu-cluster .xdaq-header-icon-img
{
	opacity: 0.5;
}

#xdaq-header-menu-control .xdaq-header-icon-img:hover, 
#xdaq-header-menu-apps .xdaq-header-icon-img:hover, 
#xdaq-header-menu-settings .xdaq-header-icon-img:hover, 
#xdaq-header-menu-props .xdaq-header-icon-img:hover, 
#xdaq-header-menu-cluster .xdaq-header-icon-img:hover
{
	opacity: 1;
}

#xdaq-header-menu-spacer
{
	width: 30px;
}

#xdaq-header-right-content table
{
	height:100%;
}

#xdaq-header-right-content td
{
	vertical-align: bottom;
	padding-bottom: 10px;
}

/* the refresh wheel in the header menu parameter viewer */
#xdaqparamviewer-menu-refresh
{
	max-width: 14px;
	max-height: 16px;
	float: right;
	margin-top: 6px;
	
	cursor: pointer;
	
	-webkit-transform:rotate(0deg);
	-moz-transform:rotate(0deg);
	-o-transform:rotate(0deg);
	-transform:rotate(0deg);
	
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-o-transition-duration: 0s;
	transition-duration: 0s;
	
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	transition-property: transform;
	
}
.xdaqparamviewer-menu-refresh-rotater
{
	-webkit-transform:rotate(360deg) !important;
	-moz-transform:rotate(360deg) !important;
	-o-transform:rotate(360deg) !important;
	-transform:rotate(360deg) !important;
	
	-webkit-transition-duration: 0.8s !important;
	-moz-transition-duration: 0.8s !important;
	-o-transition-duration: 0.8s !important;
	transition-duration: 0.8s !important;
}

/* flash effects for the parameter viewer when a value changes on manual refresh */
.xdaq-flash-idle
{
	transition: background 2s ease 0s;
	-webkit-transition: background 2s ease 0s;
}
.xdaq-flash-active-green
{
	transition: background 0s ease 0s;
	-webkit-transition: background 0s ease 0s;
	background: rgb(28, 184, 65) !important;
}
.xdaq-flash-active-red
{
	transition: background 0s ease 0s;
	-webkit-transition: background 0s ease 0s;
	background: #db2a2a !important;
}

.xdaq-menu-hidden
{
	display:none;
}
.xdaq-hidden
{
	display:none !important;
}
.xdaq-menu-active
{
	display:inline;
}

/* the actual menus that appear */
#xdaq-menu-control, #xdaq-menu-apps, #xdaq-menu-props, #xdaq-menu-settings, #xdaq-menu-cluster
{
	position:absolute;
	right: 20px;
	top:15px;
	
	min-height: 250px;
	max-height: 600px;
	overflow-x: hidden;
	overflow-y: auto;
	background: white;
	
	border: 1px solid #999;
	border-radius: 2px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px 0px;

	padding-left: 20px;
	padding-right: 20px;
	
	padding-top:20px;
	padding-bottom:0px;
	z-index:1000;
}

#xdaq-menu-control, #xdaq-menu-apps, #xdaq-menu-cluster
{
	min-width: 320px;
	max-width: 320px;
	width: 320px;
}

#xdaq-menu-props, #xdaq-menu-settings
{
	padding-right: 30px;
}

/* the size of the images in the following menus */
#xdaq-menu-control img, #xdaq-menu-apps img, #xdaq-menu-cluster img
{
	width:64px;
	height:64px;
}

/* cell hover effect in menus */
#xdaq-menu-control td:hover:not(.xdaq-table-nohover), #xdaq-menu-apps td:hover:not(.xdaq-table-nohover), #xdaq-menu-cluster td:hover:not(.xdaq-table-nohover)
{
	outline: 1px solid rgb(66, 184, 221);
}

#xdaq-menu-control table, #xdaq-menu-apps table, #xdaq-menu-props table, #xdaq-menu-settings table, #xdaq-menu-cluster table
{
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}

#xdaq-menu-control tr, #xdaq-menu-apps tr, #xdaq-menu-cluster tr
{
	height: 110px;
}

#xdaq-menu-control td, #xdaq-menu-apps td, #xdaq-menu-cluster td
{
	height: 110px;
	vertical-align: middle;
	max-width:64px;
}

#xdaq-menu-cluster td
{ 
	padding-bottom: 10px;
	padding-top: 10px;
}

/* force min-widths for the parameter viewer table to avoid large resizes when opening a sub menu */
#xdaqparamviewer-menu th:nth-child(1)
{ 
	min-width:150px;
}

#xdaqparamviewer-menu th:nth-child(2)
{ 
	min-width:210px;
}

/* remove standard link text decoration in menu links */
div[id*="xdaq-menu-"] a 
{
    text-decoration: none;
}

/* the arrows on top of the menus */
#xdaq-menu-arrow-outer, #xdaq-menu-arrow-inner
{
	height: 0px;
	width: 0px;
	position:absolute;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}

#xdaq-menu-arrow-inner
{
	border-bottom: 10px solid white;
	top:6px;
	z-index: 1001;
}
#xdaq-menu-arrow-outer
{
	border-bottom: 10px solid #999;
	top:5px;
}

/* arrow positions */
.xdaq-menu-arrow-control
{
	right: 238px;
}
.xdaq-menu-arrow-apps
{
	right: 206px;
}
.xdaq-menu-arrow-cluster
{
	right: 174px;
}
.xdaq-menu-arrow-settings
{
	right: 112px;
}
.xdaq-menu-arrow-props
{
	right: 80px;
}

/* styling for the layout 404 and default pages */
#xdaq-404, #xdaq-default-default 
{
	width: 100%; 
	margin-left: auto;
	margin-right: auto;
	padding:0px;
	text-align:center;
	position:absolute;
	left: 0;
	top: 0;
	min-width: 640px;
	min-height: 380px;
	z-index: 99;
	padding-top: 15%;
}

/* add sorting arrow background to sortable columns */
.xdaq-sortable .xdaq-sorter a
{
	background-image: url(/hyperdaq/images/framework/xdaq-sort-right.png);
	background-size:12px 12px;
}

.xdaq-sortable-up .xdaq-sorter a 
{
	background-image: url(/hyperdaq/images/framework/xdaq-sort-up.png);
	background-size:12px 12px;
}

.xdaq-sortable-down .xdaq-sorter a 
{
	background-image: url(/hyperdaq/images/framework/xdaq-sort-down.png);
	background-size:12px 12px;
}

.xdaq-sortable span[class*="xdaq-sorter"] a 
{
	background-position: right center;
	background-repeat: no-repeat;
	display: inline-block;
	text-decoration: none;
	width: 19px;
	height: 12px;
}
.xdaq-sortable span[class*="xdaq-sorter"]
{
	background-position: center left;
	background-repeat: no-repeat;
	float: right;
	cursor: pointer;
}

//////////

div.xdaq-div-center
{
	width:100%;
	text-align:center;
}

/* ajax loader icon */
.xdaq-ajax-loader
{
	display:none;
}
.xdaq-ajax-loading
{
	display:inline;
	vertical-align: middle;
}

/* override default link text color */
a, a:hover, a:focus, a:active
{
	color:#007fdc;
}

h1, h2, h3, h4, h5, h6
{
	margin-top:0px;
	margin-bottom:10px;
}

ol, ul
{
	padding-left:20px
}

