@charset "utf-8";
/*************************************************************************
 * XDAQ Components for Distributed Data Acquisition                      *
 * Copyright (C) 2000-2014, CERN.                                        *
 * All rights reserved.                                                  *
 * Authors: A.Forrest, L.Orsini, A.Petrucci								 *
 * For the licensing terms see LICENSE.                                  *
 * For the list of contributors see CREDITS.                             *
 *************************************************************************/

@font-face 
{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src: local("Open Sans Light"), local("OpenSans-Light"), url("/hyperdaq/html/fonts/open_sans_normal_300.woff") format("woff");
}
@font-face 
{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url("/hyperdaq/html/fonts/open_sans_normal_400.woff") format("woff");
}
@font-face 
{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("/hyperdaq/html/fonts/open_sans_normal_600.woff") format("woff");
}
@font-face 
{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url("/hyperdaq/html/fonts/open_sans_normal_700.woff") format("woff");
}
@font-face 
{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 800;
    src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url("/hyperdaq/html/fonts/open_sans_normal_800.woff") format("woff");
}
@font-face 
{
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 300;
    src: local("Open Sans Light Italic"), local("OpenSansLight-Italic"), url("/hyperdaq/html/fonts/open_sans_italic_300.woff") format("woff");
}
@font-face 
{
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 400;
    src: local("Open Sans Italic"), local("OpenSans-Italic"), url("/hyperdaq/html/fonts/open_sans_italic_400.woff") format("woff");
}
@font-face 
{
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 600;
    src: local("Open Sans Semibold Italic"), local("OpenSans-SemiboldItalic"), url("/hyperdaq/html/fonts/open_sans_italic_600.woff") format("woff");
}
@font-face 
{
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 700;
    src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url("/hyperdaq/html/fonts/open_sans_italic_700.woff") format("woff");
}
@font-face 
{
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 800;
    src: local("Open Sans Extrabold Italic"), local("OpenSans-ExtraboldItalic"), url("/hyperdaq/html/fonts/open_sans_italic_800.woff") format("woff");
}


