@charset "utf-8";
/*************************************************************************
 * XDAQ Components for Distributed Data Acquisition                      *
 * Copyright (C) 2000-2014, CERN.                                        *
 * All rights reserved.                                                  *
 * Authors: A.Forrest, L.Orsini, A.Petrucci								 *
 * For the licensing terms see LICENSE.                                  *
 * For the list of contributors see CREDITS.                             *
 *************************************************************************/

/*--------------------------------------------------
  REQUIRED to hide the non-active tab content.
  But do not hide them in the print stylesheet!
  --------------------------------------------------*/
.xdaq-tab-live .xdaq-tab-hide 
{
	display:none;
}

/*--------------------------------------------------
  .xdaq-tab-wrapper = before the xdaq-tab-wrapper interface is set up
  .xdaq-tab-live = after the xdaq-tab-wrapper interface is set up
  --------------------------------------------------*/
body.xdaq-nojs .xdaq-tab-wrapper
{
	display:block;
}
.xdaq-tab-wrapper 
{
	display:none;
}
.xdaq-tab-live 
{
	margin-top:20px;
}

/*--------------------------------------------------
  ul.xdaq-tab-nav = the tab navigation list
  li.xdaq-tab-active = the active tab
  --------------------------------------------------*/
.xdaq-tab-nav
{
	margin:0;
	padding: 0px 0;
}

.xdaq-tab-nav img
{
	vertical-align: middle;
	height: 20px;
	width: 20px;
}

.xdaq-tab-nav li
{
	list-style: none;
	margin: 0;
	display: inline;
}

.xdaq-tab-nav li a
{
	padding: 5px 0.5em;
	margin-right: 2px;
	border: 1px solid #cbcbcb;
	background: rgb(230, 230, 230);
	text-decoration: none;
}

.xdaq-tab-nav li a:link , .xdaq-tab-nav li a:visited
{ 
	color: #000; 
}

/* tab hover */
.xdaq-tab-nav li a:hover
{
	background: rgb(200, 200, 200);
}

/* active tab white with no bottom border */
.xdaq-tab-nav li.xdaq-tab-active a
{
	background-color: #fff;
	border-bottom: 1px solid #fff;
}

.xdaq-tab-nav .xdaq-tab-active a:hover
{
	color: #000;
	background: white;
	border-bottom: 1px solid white;
}

/*--------------------------------------------------
  .xdaq-tab = the tab content
  Add style only after the tabber interface is set up (.xdaq-tab-live)
  --------------------------------------------------*/
.xdaq-tab-live .xdaq-tab 
{
	margin:20px;
	margin-left:0px;
	margin-top:-1px;
	padding-left:20px;
	padding-top:25px;
	background:url(/hyperdaq/images/framework/xdaq-tab-content-left-border.png) top left no-repeat;
	border-top:0;
	min-height:200px;

 /* If you don't want the tab size changing whenever a tab is changed
    you can set a fixed height */

 /* height:200px; */

 /* If you set a fix height set overflow to auto and you will get a
    scrollbar when necessary */

 /* overflow:auto; */
}

.xdaq-tab-endcap
{
	background:url(/hyperdaq/images/framework/xdaq-tab-content-top-border.png) bottom left no-repeat;
	min-width: 250px;
	display:inline-block;
	padding-bottom : 1px; // fake height
	
	border: 0px;
		
	position:relative;
	top: 11px;
	left: -2px;
}

.xdaq-tab-endcap img
{
	vertical-align: bottom;
	opacity:0;
}

.xdaq-tab-default
{
	background:#F00;
}
