@charset "utf-8";
/*************************************************************************
 * XDAQ Components for Distributed Data Acquisition                      *
 * Copyright (C) 2000-2014, CERN.                                        *
 * All rights reserved.                                                  *
 * Authors: A.Forrest, L.Orsini, A.Petrucci								 *
 * For the licensing terms see LICENSE.                                  *
 * For the list of contributors see CREDITS.                             *
 *************************************************************************/

/*
 * Options are;
 * .xdaq-table
 * .xdaq-table-nohover
 * .xdaq-table-striped
 * .xdaq-table-vertical
 * .xdaq-table-matrix
 * .xdaq-table-tree
 */

/* All XDAQ tables */
table[class*=xdaq-table]
{
	border-collapse:collapse;
	border-spacing:inherit;
	empty-cells:show;
	border:1px solid #cbcbcb;
	background: white;
}

/* All XDAQ tables captions */
table[class*=xdaq-table] caption
{
	color:#000;
	font-size: 95%;
	text-align:center;
	padding:1em 0;
	white-space:nowrap;
}
/* All XDAQ tables tbody */
table[class*=xdaq-table] tbody, table[class*=xdaq-table] tfoot
{
	font-size: 0.9em;
    text-align: left;
}

/* All XDAQ tables tr */
.xdaq-table tr:not(.xdaq-table-nohover), 
.xdaq-table-striped tr, 
.xdaq-table-vertical tr,
.xdaq-table-matrix tr,
.xdaq-table-tree tr
{	
	border-top:1px solid #cbcbcb;
	border-bottom:1px solid #cbcbcb;
}

table[class*=xdaq-table] td, table[class*=xdaq-table] th
{
	font-size:inherit;
	overflow:visible;
	margin:0;
	padding:6px 12px;
/*background-color:transparent;*/
}

.xdaq-table td, .xdaq-table th, 
.xdaq-table-nohover td, .xdaq-table-nohover th, 
.xdaq-table-striped td, .xdaq-table-striped th, 
.xdaq-table-vertical td, .xdaq-table-vertical th, 
.xdaq-table-matrix td, .xdaq-table-matrix th:not(.xdaq-table-matrix-th-hover), 
.xdaq-table-tree td, .xdaq-table-tree th
{
	border-right:1px solid #cbcbcb;
}

.xdaq-table td:first-child,.xdaq-table th:first-child, 
.xdaq-table-nohover td:first-child,.xdaq-table-nohover th:first-child, 
.xdaq-table-striped td:first-child,.xdaq-table-striped th:first-child, 
.xdaq-table-vertical td:first-child, .xdaq-table-vertical th:first-child, 
.xdaq-table-tree td:first-child, .xdaq-table-tree th:first-child
{
	border-left-width:0;
}
.xdaq-table td:last-child,.xdaq-table th:last-child, 
.xdaq-table-nohover td:last-child,.xdaq-table-nohover th:last-child, 
.xdaq-table-striped td:last-child,.xdaq-table-striped th:last-child,
.xdaq-table-vertical td:last-child,.xdaq-table-vertical th:last-child,
.xdaq-table-tree td:last-child,.xdaq-table-tree th:last-child
{
	border-right-width:0;
}

.xdaq-table thead, 
.xdaq-table-nohover thead, 
.xdaq-table-striped thead,
.xdaq-table-vertical th,
.xdaq-table-matrix th,
.xdaq-table-tree th
{
	background:#e0e0e0;
	color:#000;
	text-align:left;
	vertical-align:middle;
}

.xdaq-table-matrix th, .xdaq-table-matrix td
{
	text-align:center;
}

.xdaq-tr-odd td, 
.xdaq-table-striped tr:nth-child(2n-1) td 
{
	background-color:#f2f2f2;
}

.xdaq-table tbody>tr:not(.xdaq-table-nohover):hover, 
.xdaq-table-striped tbody>tr:not(.xdaq-table-nohover):hover,
.xdaq-table-vertical tbody>tr:not(.xdaq-table-nohover):hover,
.xdaq-table-matrix tbody>td:not(.xdaq-table-nohover):hover,
.xdaq-table-tree tbody>tr:not(.xdaq-table-nohover):hover,
.xdaq-table-matrix-th-hover, .xdaq-table-hover-effect
{
	border:1px solid rgb(66, 184, 221); /* blue border */
	border-style: double;
}

.xdaq-table-matrix-th-hover
{
	background: rgb(200, 200, 200) !important;
}

.xdaq-table tbody>tr:not(.xdaq-table-nohover):hover,
.xdaq-table-vertical>tbody tr:not(.xdaq-table-nohover):hover,
.xdaq-table-matrix tbody>td:not(.xdaq-table-nohover):hover,
.xdaq-table-tree tbody>tr:not(.xdaq-table-nohover):hover,
.xdaq-table-hover-effect
{
	background-color: rgb(240, 240, 240);
}

.xdaq-table-nohover tr
{
	border:0px;
}

.xdaq-table-nohover td
{
	border-bottom:1px solid #cbcbcb;
}

.xdaq-table-form tbody tr td:first-child
{
	text-align:right;
	padding-right:10px;
}




