@charset "utf-8";
/*************************************************************************
* XDAQ Components for Distributed Data Acquisition                      *
* Copyright (C) 2000-2014, CERN.                                        *
* All rights reserved.                                                  *
* Authors: A.Forrest, L.Orsini, A.Petrucci                              *
* For the licensing terms see LICENSE.                                  *
* For the list of contributors see CREDITS.                             *
*************************************************************************/
button, input[type="submit"], input[type="reset"], input[type="button"] {
    -moz-user-select: none;
    border: 0 none rgba(0, 0, 0, 0);
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    display: inline;
    font-size: 90%;
    line-height: normal;
    overflow: visible;
    padding: 0.5em 1.5em;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.1s linear 0s;
    vertical-align: baseline;
    white-space: nowrap;
}
button {
    background-color: #e6e6e6;
}
.xdaq-submit-button, input[type="submit"] {
    background: none repeat scroll 0 0 #0078e7;
}
.xdaq-reset-button, input[type="reset"] {
    background: none repeat scroll 0 0 rgb(244, 233, 40);
}
button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.08) 50%, rgba(0, 0, 0, 0)) !important;
}
button:active, input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset !important;
}
.xdaq-button-disabled, .xdaq-button-disabled:hover, .xdaq-button-disabled:focus, .xdaq-button-disabled:active, .xdaq-button[disabled], .xdaq-button[disabled]:hover, .xdaq-button[disabled]:focus, .xdaq-button[disabled]:active, button[disabled], input[type="submit"][disabled], input[type="reset"][disabled], input[type="button"][disabled] {
    background-image: none;
    border: 0 none;
    box-shadow: none;
    cursor: not-allowed;
    opacity: 0.4;
}
