/*============================As in standard CSS==========================*/
body {background-color: #f0f0f0;}


table.tabtable tr td { padding: 20px;
		       vertical-align: top; }


table.registertable { 
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}

table.registertable tr td, table.itemtable tr th { 
    padding: 5px;
    border-right: 1px solid black
}
table.registertable.td { font-size: 80%; }
table.registertable tr th { background-color: #a0a0ff; }

table.registertable tr:nth-child(even) td { background-color: #ffff80; }
table.registertable tr:nth-child(odd) td { background-color: #f0f000; }

table.itemtable {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}

table.itemtable tr td, table.itemtable tr th {
    padding: 2px 4px 2px 4px;
    border-right: 1px solid black;
}

table.itemtable.td { font-size: 80% }
table.itemtable tr th {background-color: #9c90f0; }
table.itemtable tr.even td {background-color: #ae90ce; }
table.itemtable tr.odd td {background-color: #d2c3e2; }

table.itemtablegrayed {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
    opacity: 0.2; /* Real browsers */
    filter: alpha(opacity = 20); /* MSIE */
}

table.itemtablegrayed tr td, table.itemtable tr th {
    padding: 2px 4px 2px 4px;
    border-right: 1px solid black;
}


table.itemtablegrayed.td { font-size: 80% }
table.itemtablegrayed tr th {background-color: #6b6b6b; }
table.itemtablegrayed tr.even td {background-color: #a2a2a2; }
table.itemtablegrayed tr.odd td {background-color: #777777; }

p.itemTableTitle { font-size: 120%;
		   font-weight: 700; }

p.itemTableTitleGrayed { 
			font-size: 120%;
                   	font-weight: 700; 
			opacity: 0.2; /* Real browsers */
		        filter: alpha(opacity = 20); /* MSIE */
}

p.tableDescriptionGrayed {
			opacity: 0.2; /* Real browsers */
                        filter: alpha(opacity = 20); /* MSIE */

}
.bitset { color: #b0002b;
          font-weight: 700;}
.bitreset { color: #799f53; }


table.XDAQParameters {
    border-collapse:collapse;
}
table.XDAQParameters tbody tr.DocumentationSeparator td {
    background: #ffc040;
    border-top: 2px solid #505050;
    border-bottom: 2px solid #505050;
    text-align: center;
}
table.XDAQParameters td,table.XDAQParameters th {
    border: 1px solid #505050;
}
table.XDAQParameters td {
    padding: 2px 4px 2px 4px;
} 
table.XDAQParameters tr:nth-child(even) {
    background: #ffff60;
} 
table.XDAQParameters tr:nth-child(odd) {
    background: #ffffb0;
} 

table.amc13header td,tr {
    padding: 0px 10px 0px 10px;
}


/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #D0D070;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody tr td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #ffffff;
	vertical-align: top;
}
table.tablesorter tbody tr:nth-child(odd) td {
	background-color:#F0F0C0;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}
h2.tab { font-size: 120%; 
         font-weight: 700;
    width: 100; }

/*==============In Standard as well, but added when updating styles==========*/
.level-control {
  display: flex;
  align-items: center;
}

.level-control > p { 
  font-size: 1em;
  margin: 0;
}

/* Slide switches: */
.switch {
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
  margin: 0 0 0 10px;
}

.switch input {display:none;}
  /* Hide default HTML checkbox */

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 10px; /*remove for square*/
  display: flex;
  align-items: center;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.8em;
  width: 1.8em;
  left: 0.8px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%; /*remove for square*/
  -moz-box-shadow: -0.1px 1px rgba(0,0,0,0.3);
  -webkit-box-shadow: -0.1px 1px rgba(0,0,0,0.3);
  -o-box-shadow: -0.1px 1px rgba(0,0,0,0.3);
  box-shadow: -0.1px 1px rgba(0,0,0,0.3);
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15.7px);
  -ms-transform: translateX(15.7px);
  transform: translateX(15.7px);
}

.pageright {
  float: right;
}
/*slider end*/

.toprow {
  overflow: auto;
}

.tabdescription {
  float: left;
}

.dropdownContainer {
  display: flex;
  margin: 5px 0;
}

.dropdownContainer:before {
  content: 'Monitoring level: ';
  padding: 2px 0;
}

.dropdownContainer select {
  padding: 0;
  margin: 0 0 0 5px;
}

.hidden { display: none; }

/*=====================Modifications for Alternate CSS=======================*/
table.registertable, table.registertable tr td, table.itemtable tr th, table.itemtable, table.itemtable tr td, table.itemtablegrayed, table.itemtablegrayed tr td { border: none; }

.tableContainer {
  border-radius: 10px;
  overflow: hidden;
}

table.itemtable tr th, table.itemtablegrayed tr th {
    padding: 8px;
}

table.itemtable tr td, table.itemtablegrayed tr td { 
    padding: 5px 9px;
}

p.tableDescription {
  margin: 5px 0;
}

/* FLEX TABLE LAYOUT */
.tablesContainer {
  display: flex;
  flex-flow: column wrap;
  height: 800px;
  justify-content: flex-start;
  overflow-x: scroll;
}

.flextable {
  padding: 15px;
}

.lowpriority {
  order: 1;
}
/* ----------------- */

.dropdownContainer {
  display: inline-flex;
  align-items: center;
  width: 12em;
}

.dropdownContainer:before {
  width: 100%;
  float: left;
}

.dropdownContainer select {
  width: 40%;
  border: 1px solid #2196F3;
  border-width: 0 0 2px;
  border-radius: 0;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  float: left;
}

.dropdownContainer select::-ms-expand {
  display: none;
}

.dropdownContainer:after {
  pointer-events: none;
  content: "";
  /*position: absolute;*/
  /*top: 32px;*/
  /*right: 20px;*/
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 6px solid #2196F3/*rgba(34, 43, 228, 0.5)*/;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transform: translateX(-10px);
}

/* repeating this here because it must go at the bottom. */
.hidden { display: none; }
