.exception-critical { background: #FF0000 !important;}    
.exception-fatal { background: #FF5000 !important;}       
.exception-error { background: #FFC000 !important;}       
.exception-warn { background: #FFFF00 !important;}        
.exception-unknown { background: #00BFFF !important;}   

.exception-raised-accepted { background: #FFC000 !important;} 
.exception-raised-unaccepted { background: #FF0000 !important;} 
.exception-shelved-accepted  { background: #00BFFF !important;} 
.exception-shelved-unaccepted { background: #00a2d8 !important;} 
.exception-cleared-accepted  { background: #CCC !important;} 
.exception-cleared-unaccepted { background: #EEE !important;}     

.blink {
    animation-duration: 1s;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-timing-function: steps(2, start);
}
@keyframes blink {
    80% {
        color: green !important;
    }
}